nav{
    height: 77px;
}
nav .container{
    margin-left: 5px;
    height: 77px;
}
nav .container span{
    line-height: 77px;
    font-size: 25px;
    font-weight: bolder;
}
.main{
    margin-top: 50px;
    background-image: url("../images/logo_back.png");
    height: 700px;
    padding:60px 0;
}
.form_div{
    width:400px;
    height:400px;
    background:#ffffff;
    margin-top: 100px;
    margin-right: 10%;
}
.form-bg{
    background: #00b4ef;
}
.form-horizontal{
    background: #fff;
    padding-bottom: 40px;
    margin-top:40px;
    text-align: center;
}
.form-horizontal .heading{
    display: block;
    font-size: 35px;
    font-weight: 700;
    padding: 35px 0;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 30px;
}
.form-horizontal .form-group{
    padding: 0 40px;
    margin: 0 0 40px 0;
    position: relative;
}
.form-horizontal .form-group:last-child .form-control{
    margin-top: 30px;
    background-color: red;
    color: white;
    font-size: 20px;
}
.form-horizontal .form-control{
    /*background: #f0f0f0;*/
   /* border-radius: 20px;*/
    box-shadow: none;
    padding: 0 20px 0 45px;
    height: 40px;
    transition: all 0.3s ease 0s;
}
.form-horizontal .form-control:focus{
   /* background: #e0e0e0;*/
    box-shadow: none;
    outline: 0 none;
}
.form-horizontal .form-group i{
    position: absolute;
    top: 12px;
    left: 60px;
    font-size: 17px;
    color: #c8c8c8;
    transition : all 0.5s ease 0s;
}
.form-horizontal .form-control:focus + i{
    color: #00b4ef;
}
.form-horizontal .fa-question-circle{
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 60px;
    font-size: 20px;
    color: #808080;
    transition: all 0.5s ease 0s;
}
.form-horizontal .fa-question-circle:hover{
    color: #000;
}
/*.form-horizontal .main-checkbox{
    float: left;
    width: 20px;
    height: 20px;
    background: #11a3fc;
    /*border-radius: 50%;
    position: relative;
    margin: 5px 0 0 5px;
    border: 1px solid #11a3fc;
}*/
.form-horizontal .main-checkboxa{
    float: left;
    width: 20px;
    height: 20px;
    position: relative;
    margin: 5px 0 0 5px;
}
.form-horizontal .main-checkboxa label{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.form-horizontal .text{
    float: left;
    color:#555;
    margin-left: 7px;
    line-height: 20px;
    padding-top: 5px;
    text-transform: capitalize;
}
.form-horizontal .wj{
    float: right;
    font-size: 14px;
    color: #555;
    text-transform: capitalize;
    transition: all 0.5s ease 0s;
}
/*@media only screen and (max-width: 479px){*/
    /*.form-horizontal .form-group{*/
        /*padding: 0 25px;*/
    /*}*/
    /*.form-horizontal .form-group i{*/
        /*left: 45px;*/
    /*}*/
    /*.form-horizontal .btn{*/
        /*padding: 10px 20px;*/
    /*}*/
/*}*/
.navbar-header{
    float: left;
}
.login-english{
    float: right;
    font-size: 14px !important;
    font-weight: 100;
}
.changeRed{
    color: red;
}
/*@media (min-width: 1200px) .container {*/
        /*!* width: 1170px; *!*/
/*}*/
/*@media (min-width: 992px) .container {*/
            /*!* width: 970px; *!*/
 /*}*/
/*@media (min-width: 768px) .container {*/
                /*!* width: 750px; *!*/
/*}*/

@media (min-width: 768px) { .container {
    width: auto;
} }
@media (min-width: 992px) { .container {
    width: auto;
} }
@media (min-width: 1200px) { .container {
    width: auto;
} }